.containerdiv{
    display: flex;
    justify-content: center;
}

.selectCont {
    padding: 10px;
    margin: 20px;
    width: 400px;
    font-family : Pixel;
    src : url "../../../src/FuenteButon/Pixel.ttf";
    border-radius: 20px;
}

.option {
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    src : url "../../../src/FuenteButon/Pixel.ttf";
}

.optionGroup {
    padding: 10px;
    font-family : 'Courier New', Courier, monospace;
    src : url "../../../src/FuenteButon/Pixel.ttf";
}
