.searchbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.buton {
    margin-left: 5px;
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(177, 223, 14);
}

.barbuton {
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    width: 380px;
    background-color: rgb(79, 236, 74);
    border-radius: 10px;
}

.buton:hover {
    background-color: black;
    color: rgb(14, 245, 6);
}

.bar-btn:hover {
    background-color:rgb(240, 198, 13)
}