.searchbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.buton {
    margin-left: 5px;
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    background-color: rgb(11, 224, 28);
}

.barbuton {
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    width: 380px;
    background-color: wheat;
    border-radius: 20px;
}

.buton:hover {
    background-color: black;
    color: rgb(14, 226, 7);
}

.bar-btn:hover {
    background-color:bisque
}