/* 
 .myBtninicio{
      position: absolute;
      left:45%;
      top:20%;
      animation: Animated 1s ease 0s infinite normal forwards;
 }

.Imagebtn button {
  font-family : Pixel;
    src : url "../../../src/FuenteButon/Pixel.ttf";
    height: 70px;
    width: 200px;
    border-radius: 5px;
    border: 3px solid rgb(6, 248, 18);
    background-color: chartreuse;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    text-transform:uppercase;
    font-size: medium;
    font-weight: bolder;
}

@keyframes Animated {
    1% {
      animation:slidebg 1s linear infinite;
      
      transform: scale(1);
      transform-origin: center center;
      background-position:20vw;

    }
   */
  
  /* } */
  @font-face{
    font-family : myfont;
    src : url "../../../src/FuenteButon/Pixel.ttf";
    font-style : oblique
  }

  button {
    --border-radius: 25px;
    --border-width: 2px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #030000;
    z-index: 2;
  }
  
  button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    background-image: conic-gradient(
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue634 linear 500ms infinite;
    animation-play-state: paused;
    border-radius: 20px;
    border-color: #000;
  }
  
  button:hover::after {
    animation-play-state: running;
    border-radius: 20px;
  }
  
  @keyframes rotate-hue634 {
    to {
      filter: hue-rotate(1turn);
    }
  }
  
  button,
  button::after {
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  button:active {
    --border-width: 2px;
  }
  
  .bn {
    position: absolute;
    position: relative;
    left:38%;
    top:151%;
    padding: 3.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 250;
    font-size: 17px;
    cursor: pointer;
    z-index: 0;
    border-radius: 25px;
  }
  
  .bn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 5%;
    height: 5%;
    /* background-color:transparent */
    left: 0;
    top: 0;
    border-radius: 95px;
  }
  
  .bn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #07d888, #e40851, #2f00ff, #00ff37,
        #ec0808, #2600ff, #0bd157, #2f00ff
  );
    position: absolute;
    top: 170px;
    left: 15px;
    background-size: 500%;
    z-index: -1;
    width: calc(20% + 4px);
    height: calc(15% + 4px);
    filter: blur(8px);
    animation: glowing345 5s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
    opacity: 0;
  }
  
  @keyframes glowing345 {
    0% {
      background-position:0 0;
      
    }
  
    50% {
      background-position: 50% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .bn:hover::before {
    opacity: 1;
  }
  
  .bn:active:after {
    background: transparent;
  }
  
  .bn:active {
    color: #000;
    font-weight: bold;
  }
  
  

 