.pagestile{
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style:none;
    margin: 30px;
    width: 40px;
}

.pag-buton {
    font-family: 'Press Start 2P';
    font-size: medium;
    width: 45px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(0, 1, 3);
    color:rgb(12, 0, 0);
    display: inline-block;
    background-color: #c4a12f;
  color: rgb(0, 0, 0); 
    
    
}

.pag-buton:hover {
    background-color: rgb(205, 238, 16);
    color:rgb(0, 0, 0)
}
.pag-butonselect {
    background-color: #b9b8b4;
    color: rgb(0, 0, 0);
  }
  
  .pag-buton:hover:not(.active) {background-color: #b2b2b6;}

  .currentpage{

    
    /* display: flex;
    flex-direction: row; */
    left:20%;
    top:200%;
    text-size-adjust: 10;
    font-size: medium;
    color: #000000;
    background-color: #a8a9ac;
    box-shadow: none;
    background-position-x: center;

  }
