.pagestile{
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style:none;
    margin: 30px;
    width: 40px;
}

.pag-buton {
    font-family: 'Press Start 2P';
    font-size: medium;
    width: 45px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(10, 64, 211);
    color:rgb(12, 0, 0);
    display: inline-block;
    background-color: #4CAF50;
  color: rgb(0, 0, 0); 
    
    
}

.pag-buton:hover {
    background-color: rgb(205, 238, 16);
    color:rgb(252, 3, 3)
}
.pag-butonselect {
    background-color: #faa508;
    color: rgb(250, 5, 209);
  }
  
  .pag-buton:hover:not(.active) {background-color: #2706e2;}

  .currentpage{

    
    /* display: flex;
    flex-direction: row; */
    left:20%;
    top:200%;
    text-size-adjust: 10;
    font-size: medium;
    color: #f50303;
    background-color: #0d42f0;
    box-shadow: none;
    background-position-x: center;

  }
