.pagestile {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style:none;
    margin: 20px;
    width: 40px;
}

.pag-buton {
    font-family: 'Press Start 2P';
    font-size: larger;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(12, 131, 241);
    color:rgb(247, 13, 13)
    
}

.pag-buton:hover {
    background-color: black;
    color:rgb(12, 150, 230)
}
