.navbarestilo {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.navbarestilo button{
        font-family: 'Press Start 2P';
        padding: 10px;
        margin: 20px;
        border-radius: 15px;
        background-color: rgb(9, 233, 58);
        box-shadow: 5px;
}

.navbarestilo button:hover {
        background-color: black;
        color:rgb(179, 187, 180)
}
