.navbarestilo {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.navbarestilo button{
        font-family : Pixel;
        src : url "../../../src/FuenteButon/Pixel.ttf";
        padding: 10px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(9, 233, 58);
        box-shadow: 5px;
        font-weight: bolder;
}

.navbarestilo button:hover {
        background-color: black;
        color:rgb(179, 187, 180)
}
