.navbarestilo {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.navbarestilo button{
        font-family: 'Press Start 2P';
        padding: 10px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(25, 233, 6);
}

.navbarestilo button:hover {
        background-color: black;
        color:rgb(7, 235, 26)
}
